/* * {margin:0;}
body {display: flex;
    
}
header {font-weight:bold;
        font-size: 40px;
        text-align: center;
        background-color: #622870;
        padding: 20px; 
        border: 3px black; 
        display: flex;
        
    }
.container1 {
    display: flex;

}
.bio h1 {
    font-size: 3em;
    text-align: center;
}
#bio1 {
    font-size: 45px;
} */
body {
    background-color: #d9cdc0;
}
nav ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: flex-end;
    margin: 0;
    background: #297A4A;

}

nav ul li {
    display: block;
    padding: 10px;
    color: white;
    font-size: 30px;
    
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 3em;
    font-weight: bolder;
    background-color: #aa7539;
}
.container1 {
    display: flex;
    flex-flow: row nowrap;
    font-size: 3em;
}
.container2 h1 {
    display: flex;
    flex-flow: column wrap;
}
.container2 {
    display: flex;
    padding: 50px;
    justify-content: center;
}
.container3 {
    display: flex;
    height:100vh;
    padding: 50px;
    justify-content: center;
}
footer{
    display:flex;
    justify-content: center;
    font-size: 2em;
    background-color: #297A4A;
    
}